<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>
        Bethel Chandler Sermon Note Generator
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <nav class="navbar">
        <div class="navbar-container">
            <a href="/" class="nav-logo">
                <img src="/images/bethel_logo.jpeg" alt="Bethel Logo" class="nav-logo-img">
            </a>
            <div class="nav-links">
                <% if (typeof currentPath !=='undefined' && currentPath !=='/login' ) { %>
                    <a href="/generate-new-notes" class="nav-button">Generate New Notes</a>
                    <a href="/logout" class="nav-button nav-button-secondary">Log Out</a>
                    <% } %>
            </div>
        </div>
    </nav>
    <div class="main-content">
        <%- body %>
    </div>
</body>

</html>