<div class="container">
    <h1 class="title">Bethel Chandler Sermon Notes Generator</h1>
    <div class="form-container">
        <form method="POST" action="/auth/login">
            <h2>Login</h2>
            <% if (typeof error !=='undefined' ) { %>
                <div class="form-group">
                    <p class="error">
                        <%= error %>
                    </p>
                </div>
                <% } %>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" name="username" id="username" placeholder="Enter your username" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" placeholder="Enter your password" required>
                    </div>
                    <button type="submit" class="btn-submit">Login</button>
        </form>
    </div>
</div>